.container{
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    background-color: #f2f2f2;
    margin-top: 100px;
}
.pTag{
    font-size: 20px;
    font-weight: bold;
    color: #000;

}
.data{
    font-size: 20px;
    color: #000;
}