
tr,td{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 40px;
    font-size: 20px;
}
.sortingBtn{
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}